@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./assets/font/GulfsDisplay-Normal.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('./assets/images/pattern.svg'), linear-gradient(to bottom, #570508, #000000);
  min-height: 100vh;
  font-family: var(--comicFont);
}

:root {
  --primary-bg: #570508;
  --sec-bg: #221E15;
  --primary-txt: #fff;

  --customfont: 'CustomFont';
  --comicFont: "Comic Neue", cursive;
}