.nav {
  width: 100%;
  padding: 0px 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
  }

}

.logo {
  width: 100px;
}

@media (max-width: 560px) {
  .logo {
    width: 70px;
  }
}